@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
--Soft-red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);
--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 500px;
}

.mybalance{
    background-color: var(--Soft-red);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.content p{
    color: var(--Cream);
}

.balance{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}